<?xml version="1.0"?>
<robot name="goal">
  <!-- Colors -->
  <material name="red">         <!--色データ-->
      <color rgba="1.0 0.0 0.0 2.0"/>
  </material>

  <link name="link_name">         <!--一つの部分-->
    <visual>                      <!--その部分の表示-->
      <geometry>
        <cylinder length="0.2" radius="0.2"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>                   <!--その部分の衝突データ-->
      <geometry>
        <cylinder length="0.2" radius="0.05"/>
      </geometry>
    </collision>
    <inertial>                     <!--その部分の慣性データ-->
            <mass value="2"/>
            <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0.0" izz="0.2"/>
        </inertial>
  </link>

</robot>
